@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

.Acheader{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.8em;
    color: #5DEDCC;
   background-color: #1D1C1C;
  
}
.div2Ach{
    margin: 0;
    padding: 10%;
    background-color: #1D1C1C;
}

.div2Ach ul li{
    font-size: 1rem;
    list-style: square;
    color: #CDD6F7;
}
