
.projects{
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
    margin: 0;
    background-color: #1D1C1C;
}
.projectlist{
    margin: 0;
    padding: 10%;
    background-color: #1D1C1C;
}

.projectlist ul li{
font-size: 1rem;
list-style: square;
color: #CDD6F7;
}

#contmainer{
    background-color: #1D1C1C;
    margin: 0;
    padding: 0;
}

.project_header{
    display: flex;
    justify-content: center;
    align-items: center;
}


