footer .social_icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    flex-wrap: wrap;

}

footer .social_icon li {
    list-style: none;
    margin-top: 50px;
}

footer .social_icon li a {
    font-size: 2em;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover {
    transform: translateY(-10px);
}

#footbottom {
    width: 98%;
    margin-bottom: -40px;
    object-fit: cover;
    background-color: white;
    min-height: 15em;
}

footer p {
    margin-left: 35px;
    margin-top: 23px;
    text-align: center;
    color: black;
    font-weight: 400;

}