
.card-title{
  
    color: black;
    margin-top:-30px;
}
.card-text{
    color: black;
}

.wrapper {
    max-height: 1000px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-collapse: collapse;
    display: flex;
    overflow-x: auto;
  }
  
  .wrapper::-webkit-scrollbar {
    width: 0;
  }
  
  .wrapper .card {
    min-width: 0px;
    min-height: 430px;
    height: 50px;
    line-height: 30px;
    text-align: center;
    margin: 5px;
  }
  .Maincontainer{
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 10px

  }

  #cardImage{
    width: 90%;
    height: 90%;
    min-width:90%;
  }

  .card{
    background-color:white;
  }

  .card-body{
width: 16rem;
  }

.key{
  float: right;
  }